nav {
    display: grid;
}

button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    /* font-family: arial, sans-serif; */
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    margin: 10px;
    text-align: right;
    margin: 10px;
    text-align: right;
    font-size: medium;
    font-weight: 500;
  }